@use "../../styles/colors.scss";
@use "../../styles/abstracts/mixins.scss";
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: colors.$bc;
}

.content {
    display: flex;
    flex-direction: column;
    
    margin-left: 4rem;
    width: calc(100% - 4rem);
    @include mixins.respond(from-tab-port) {
        margin-left: 0;
        width: 100%;
    }
}

.children {
    margin: 1rem;
}
