@use "../../styles/colors.scss";
@use "../../styles/abstracts/mixins.scss";
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: colors.$bc;
}

.content {
    display: flex;
    flex-direction: column;

    margin-left: 4rem;
    width: calc(100% - 4rem);
    @include mixins.respond(from-tab-port) {
        margin-left: 21rem;
        width: 100%;
    }
}

.children {
    margin: 3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    @include mixins.respond(from-tab-port) {
        margin: 2rem 3rem 0 3rem;
    }
}
