@use "../../styles/colors.scss";
@use "../../styles/abstracts/mixins.scss";
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: colors.$bc;
}

.children {
    margin-left: 6.5rem;

    @include mixins.respond(from-tab-port) {
        margin-left: 0;
    }
}
