@use "@/styles/abstracts/variables.scss";
@use "@/styles/colors.scss";

.title {
    font-size: variables.$font-size-title;
    font-weight: 600;
    color: colors.$black;
}

.description {
    max-width: fit-content;
    p {
        font-size: variables.$font-size-small;
        color: colors.$secondary;
    }
    span {
        color: colors.$primary;
    }
}
