@use "@/styles/abstracts/mixins.scss";
.right {
    margin-left: auto;
    align-self: center;
}

.orderPage {
    @include mixins.respond(from-tab-port) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 2rem;
    }
}

.section {
    margin-top: 1rem;
    
    @include mixins.respond(from-tab-port) {
        flex: 1;
        margin: 0;
    }
}
