$primary: #8b5cf6;

$error: #a80000;

$secondary: #6b7280;
$secondary-light: #f3f4f6;
$white: #ffffff;
$black: #111827;
$green-ok: #34d399;
$pink: #e879f9;
$warning: #f59e0b;
$bc: #f9fafb;
$bc-hover: #e5e7eb;
