$primary: #469c91;
$primary-dark: #0f201e;
$primary-light: #d1f8f3;

$error: #a80000;

$secondary: #839391;
$secondary-dark: #232323;

$red: #e6262f;
$purple: #785aa5;
$green: #b3d34b;
$pink: #e83e97;
$blue: #30a7d3;
$orange: #eb650c;
