@use "@/styles/colors.scss";

.card {
    background-color: colors.$white;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 10rem;
    overflow: hidden;
}

.cardSection {
    width: 100%;
    overflow: hidden;
}
