@use "@/styles/colors.scss";
@use "@/styles/abstracts/mixins.scss";
.navbar {
    display: flex;
    height: 3rem;
    padding: 2rem;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 4rem);
    background-color: colors.$white;
    border-bottom: 1px solid colors.$bc-hover;
    z-index: 10;
    @include mixins.respond(from-tab-port) {
        width: calc(100% - 19rem);
    }
}
