@use "@/styles/colors.scss";
@use "@/styles/abstracts/mixins.scss";
.navbar {
    display: flex;
    height: 3rem;
    padding: 2rem;
    justify-content: flex-end;
    align-items: center;
    background-color: colors.$white;
    border-bottom: 1px solid colors.$bc-hover;
}
