@use "src/styles/colors.scss";

.container {
}
.status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.statusCircle {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;

    &.standby {
        background-color: colors.$standby;
    }

    &.progress {
        background-color: colors.$warning;
    }

    &.send {
        background-color: colors.$send;
    }

    &.delivered {
        background-color: colors.$green-ok;
    }
}
