@use "src/styles/colors.scss";

.container {
    position: relative;
}
.status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.statusCircle {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;

    &.success {
        background-color: colors.$green-ok;
    }

    &.progress {
        background-color: colors.$warning;
    }

    &.error {
        background-color: colors.$error;
    }
}
