@use "../../styles/colors";
@use "@/styles/abstracts/mixins.scss";
.table {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.content {
    display: flex;
    width: 100%;
    min-width: 35rem;
    gap: 2rem;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(var(--width));
}

.header {
    p {
        font-weight: 700;
    }

    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid colors.$bc;
    border-top: 1px solid colors.$bc;
    text-align: center;
}

// .row {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     background-color: green;
// }

.cell {
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    position: relative;
    // margin-right: 5rem;
    img {
        width: 3rem !important;
        height: 3rem !important;
    }

    p {
        display: -webkit-box;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    cursor: pointer;
    border-bottom: 1px solid colors.$bc;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        z-index: -1;
        // When the cell is hovered, the background color changes
        background-color: transparent;
        // When the cell is hovered, the background color changes
    }
}

.hover {
    background-color: colors.$secondary-light;
    transition: all 0.3s ease-in-out;

    &::after {
        transition: all 0.3s ease-in-out;

        background-color: colors.$secondary-light;
    }
}

.disabled {
    svg {
        stroke: colors.$secondary;
    }
    cursor: not-allowed;
}

.pagination {
    display: flex;
    // position: fixed;
    margin-top: auto;
    p {
        color: colors.$secondary;
    }
}

.indicators {
    display: flex;
}

.pages {
    display: flex;
    margin-left: auto;
}

.buttons {
    display: flex;
    margin-left: 0.5rem;

    svg {
        stroke: colors.$secondary;
    }
}
