@use "../../styles/colors";

.table {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.content {
    display: flex;
    width: 100%;
    min-width: 35rem;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header {
    p {
        font-weight: 700;
    }

    width: 100%;

    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid colors.$bc;
    border-top: 1px solid colors.$bc;
    text-align: center;
}

// .row {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     background-color: green;
// }

.cell {
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    img {
        width: 3rem !important;
        height: 3rem !important;
    }

    p {
        display: -webkit-box;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    cursor: pointer;
    border-bottom: 1px solid colors.$bc;
}

.hover {
    background-color: colors.$secondary-light;
    transition: all 0.3s ease-in-out;
}

.disabled {
    svg {
        stroke: colors.$secondary;
    }
    cursor: not-allowed;
}

.pagination {
    display: flex;
    // position: fixed;
    margin-top: auto;
    p {
        color: colors.$secondary;
    }
}

.indicators {
    display: flex;
}

.pages {
    display: flex;
    margin-left: auto;
}

.buttons {
    display: flex;
    margin-left: 0.5rem;

    svg {
        stroke: colors.$secondary;
    }
}
